About\PublishedFileId.txt
Assemblies/UnityEngine.xml
Assemblies/NVorbis.dll
Assemblies/Assembly-CSharp-firstpass.dll
Assemblies/UnityEngine.dll
Assemblies/NAudio.dll
Assemblies/Assembly-CSharp.dll
Source/.vs/BackupGenerators/v15/.suo
Source/BackupGenerators/obj/Debug/CoreCompileInputs.cache
Source/BackupGenerators/obj/Debug/BackupGenerators.dll
Source/BackupGenerators/obj/Debug/BackupGenerators.csprojResolveAssemblyReference.cache
Source/BackupGenerators/obj/Debug/BackupGenerators.csproj.FileListAbsolute.txt
