About\PublishedFileId.txt
Assemblies/UnityEngine.xml
Assemblies/NVorbis.dll
Assemblies/Assembly-CSharp-firstpass.dll
Assemblies/UnityEngine.dll
Assemblies/NAudio.dll
Assemblies/Assembly-CSharp.dll
Source/.vs
Source/BackupGenerators/obj/
