About\PublishedFileId.txt
Assemblies/UnityEngine.xml
Assemblies/NVorbis.dll
Assemblies/Assembly-CSharp-firstpass.dll
Assemblies/UnityEngine.dll
Assemblies/NAudio.dll
Assemblies/Assembly-CSharp.dll
Assemblies/TextMeshPro-1.0.55.56.0b11.dll
Assemblies/UnityEngine.UI.dll
Source/.vs
Source/BackupGenerators/obj/
.vs